<!DOCTYPE html>
<html>
<head>
  <title>Your Progress</title>
</head>
<body>
  <h2>Progress Dashboard</h2>
  <!---------DO NOT ALTER THE WORDS INSIDE THIS OR {{ }} STYLE THE TAGS (<H1>,<P> ETC) IN STYLE.CSS-->
  <ul>
    {% for lesson in lessons %}
      <li>
        {{ lesson.title }} -
        {% if progress[lesson.id|string] is defined %}
          {{ progress[lesson.id|string] }} points
        {% else %}
          Not attempted
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('home') }}">Back to Home</a>
  <!----DO NOT ALTER---->


  
</body>
</html>
